services:
  localstack:
    container_name: localstack
    image: localstack/localstack:4.13.1
    restart: always
    ports:
      - 4566:4566
      - 4510-4559:4510-4559
  postgres:
    container_name: postgres
    image: postgres:18.1-alpine
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 15s
      retries: 5
  postgres-setup:
    container_name: postgres-setup
    image: postgres:18.1-alpine
    command: >
      sh -c 'for db in (); do PGPASSWORD=postgres psql -h postgres -U postgres -c "CREATE DATABASE $$db;"; done'
    depends_on:
      postgres:
        condition: service_healthy
  redis:
    container_name: redis
    image: redis:8.4.0-alpine
    restart: always
    ports:
      - 6379:6379
